*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.max-width{
    background-color: bisque;
}

.container{
    height: 500px;
    width: 100%;
    background-color: black;
    padding: 25px;
}

.container nav .max-width{
    /* BT1: xoa phan nav va hoc vien phai debug de trong home ko co mau nhu tren */
    height: 50px;
}




.home{
    height: 375px;
    margin-top: 25px;
    background-color: rgb(238, 106, 66);
    padding: 25px;
}

.home .max-width {
    height: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* xóa bộ display: flex để kiểm tra khả năng sử dụng của học viên */
}

.home .max-width .home-left{
    height: 100%;
    width: 30%;
    background-color: brown;
}

.home .max-width .home-right{
    height: 100%;
    width: 70%;
    background-color: rgb(216, 153, 245);
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; */
    float: inline-start;
}

.home-box{
    height: 100px;
    width: 400px;
    background-color: chocolate;
}
.home .home-right .home-box{
   margin: 42px auto ;
   /* yêu cầu học viên làm cho box vào giữa khung hình bằng cách căn margin px */
}
